C 0 0 "MCLR*/VPP" 0 0 0 0 60 0 L
X "PIN_TEXT" "MCLR*/VPP" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "RA0/AN0/CVREF" 0 -100 0 0 60 0 L
X "PIN_TEXT" "RA0/AN0/CVREF" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "RA1/AN1" 0 -200 0 0 60 0 L
X "PIN_TEXT" "RA1/AN1" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "RA2/AN2/VREF-" 0 -300 0 0 60 0 L
X "PIN_TEXT" "RA2/AN2/VREF-" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "RA3/AN3/VREF+" 0 -400 0 0 60 0 L
X "PIN_TEXT" "RA3/AN3/VREF+" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "RA4/T0CKI" 0 -500 0 0 60 0 L
X "PIN_TEXT" "RA4/T0CKI" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "RA5/AN4/SS*/LVDIN" 0 -600 0 0 60 0 L
X "PIN_TEXT" "RA5/AN4/SS*/LVDIN" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "VSS_1" 0 -700 0 0 60 0 L
X "PIN_TEXT" "VSS_1" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "OSC1/CLKI" 0 -800 0 0 60 0 L
X "PIN_TEXT" "OSC1/CLKI" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "OSC2/CLKO/RA6" 0 -900 0 0 60 0 L
X "PIN_TEXT" "OSC2/CLKO/RA6" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 0 -1000 "RC0/T1OSO/T1CKI" 0 -1000 0 0 60 0 L
X "PIN_TEXT" "RC0/T1OSO/T1CKI" 230 -1030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1000 0 -1000 -1 0
C 0 -1100 "RC1/T1OSI" 0 -1100 0 0 60 0 L
X "PIN_TEXT" "RC1/T1OSI" 230 -1130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1100 0 -1100 -1 0
C 0 -1200 "RC2/CCP1" 0 -1200 0 0 60 0 L
X "PIN_TEXT" "RC2/CCP1" 230 -1230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1200 0 -1200 -1 0
C 0 -1300 "RC3/SCK/SCL" 0 -1300 0 0 60 0 L
X "PIN_TEXT" "RC3/SCK/SCL" 230 -1330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1300 0 -1300 -1 0
C 2300 0 "RB7/PGD" 2300 0 0 0 60 0 R
X "PIN_TEXT" "RB7/PGD" 2070 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 0 2300 0 -1 0
C 2300 -100 "RB6/PGC" 2300 -100 0 0 60 0 R
X "PIN_TEXT" "RB6/PGC" 2070 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -100 2300 -100 -1 0
C 2300 -200 "RB5/PGM" 2300 -200 0 0 60 0 R
X "PIN_TEXT" "RB5/PGM" 2070 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -200 2300 -200 -1 0
C 2300 -300 "RB4" 2300 -300 0 0 60 0 R
X "PIN_TEXT" "RB4" 2070 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -300 2300 -300 -1 0
C 2300 -400 "RB3/CANRX" 2300 -400 0 0 60 0 R
X "PIN_TEXT" "RB3/CANRX" 2070 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -400 2300 -400 -1 0
C 2300 -500 "RB2/CANTX/INT2" 2300 -500 0 0 60 0 R
X "PIN_TEXT" "RB2/CANTX/INT2" 2070 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -500 2300 -500 -1 0
C 2300 -600 "RB1/INT1" 2300 -600 0 0 60 0 R
X "PIN_TEXT" "RB1/INT1" 2070 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -600 2300 -600 -1 0
C 2300 -700 "RB0/INT0" 2300 -700 0 0 60 0 R
X "PIN_TEXT" "RB0/INT0" 2070 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -700 2300 -700 -1 0
C 2300 -800 "VDD" 2300 -800 0 0 60 0 R
X "PIN_TEXT" "VDD" 2070 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -800 2300 -800 -1 0
C 2300 -900 "VSS_2" 2300 -900 0 0 60 0 R
X "PIN_TEXT" "VSS_2" 2070 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -900 2300 -900 -1 0
C 2300 -1000 "RC7/RX/DT" 2300 -1000 0 0 60 0 R
X "PIN_TEXT" "RC7/RX/DT" 2070 -1030 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -1000 2300 -1000 -1 0
C 2300 -1100 "RC6/TX/CK" 2300 -1100 0 0 60 0 R
X "PIN_TEXT" "RC6/TX/CK" 2070 -1130 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -1100 2300 -1100 -1 0
C 2300 -1200 "RC5/SDO" 2300 -1200 0 0 60 0 R
X "PIN_TEXT" "RC5/SDO" 2070 -1230 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -1200 2300 -1200 -1 0
C 2300 -1300 "RC4/SDI/SDA" 2300 -1300 0 0 60 0 R
X "PIN_TEXT" "RC4/SDI/SDA" 2070 -1330 0 0.00 60 0 0 2 0 0 1 0 74
L 2100 -1300 2300 -1300 -1 0
L 200 100 2100 100 -1 0
L 2100 -1400 2100 100 -1 0
L 2100 -1400 200 -1400 -1 0
L 200 100 200 -1400 -1 0
P "$LOCATION" "?" 2150 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

